<a href="https://colab.research.google.com/github/laraibnawaz/Python_Concepts/blob/main/pythonclass03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Basics Concepts**

**Binary Code**

In [ ]:
bin(65)  ->low level binary code

'0b1000001'

In [ ]:
print("A")  ->high level bin

A

**python** is high level language it iseasier for human and difficult for machine and machine took time to process it,as language near to machine is lower level language,it is fast and language far to machine is higher level language and it process slowly

In [ ]:
print("pakistan zindabad")

all language have primitive on which language is depend on and in that we have data types
cont enter
alt enter
shift enter
primtive data types 2
string and number

In [ ]:
print(type("pakistan zindabad"))

<class 'str'>

two function are use in same line,this is run as chaining ,low level thing solved first and then other one solved,first run the inner bracet and then solved the puter bracket,doumentation with the help of string is known as docs string.when we use .it shows the method which we can use,these are the predefined method,jupter print the last line either we use the print method or not and it print the latest line but when we have to print the multiple line then i have to use the print word nefore the string in invertd comas

In [ ]:
"laraib nawaz".capitalize()

'Laraib nawaz'

In [ ]:
"name".upper()

'NAME'

In [ ]:
"laraib nawaz".lower()

'laraib nawaz'

In [ ]:
"laraib nawaz".encode()

b'laraib nawaz'

In [ ]:
"laraib nawaz".

**complex number**

In [ ]:
print(7+12j)

complex number use for scienticfic calculation or scientific computation
it hs two part   1-real 2-imaginary part

dynamic type programming language when code is interpret the value that stored in the physical memory of RAM how to store it decide at run time,it shows the type of the value when the code is interpret and during run time it stored the value,when we asked from python to show us the object that value has which object then they provide us the type function for this

first run the chid function and the value of child function become the input value for the parent function

to main types of data
1-string   2-integer
interger has(float, whole number ,complex number)

why we need data types ,for different logic we need both types of data,for calculation we have integer and for business logic we have string data type

**boolean .bool data type**

In [ ]:
print(type(False))

<class 'bool'>

for the performation of right operation in data type we need to use right data type in our logic or application

variable
the thing which change time to time
static
some things are not changes this is static

**set data type**

In [ ]:
print(type({1,2,3,4,5,6}))

<class 'set'>

**list data type**

In [ ]:
print(type([1,2,3,4,5]))

<class 'list'>

**dict data type**

In [ ]:
print(type({"name":"qasim"}))

<class 'dict'>

# **variable**

how to make variable
variable store the data type or value of that data its work like a container

variable it store the value of data in them selves,without variable we are unable to make dynamic application,variable store the data type in it,all data type stored in variables for temporarily storage

viable component
1.name
2.operator(assign operators)
3.value(object->str,int,tuple,set)

In [ ]:
variable_name="value"

```python withtype hint
variable_name:str="value"


``type hints dynamic language ,it tell abut the tyoe during the run time

In [ ]:
student_name:str="laraib nawaz"

there we have **two operator**

In [ ]:
faculty_name:str="zia khan"
print(faculty_name)

In [ ]:
name:str="laraib nawaz"
father_name:str="muhammad nawaz"
print(father_name)
age:int=24
contact:int="345678"
email:str="laraib@gmail.come"
is_pakistan:bool=True



print(name)
print(father_name)
print(age)
print(email)
print(is_pakistan)
print(contact)

muhammad nawaz
laraib nawaz
muhammad nawaz
24
laraib@gmail.come
True
345678

In [ ]:
salery:float=1000.30
print(salery)

1000.3

In [ ]:
names:list=["ali", "abbasi", "laraib"]
print(names)

['ali', 'abbasi', 'laraib']

In [ ]:
education:str="master in data science"

we cannot use zero at the start of any number in the type of integer
and in float we can use the 0 at the start of numbers

In [ ]:
contact_no:int=0304
sallery:float=0.40

**string fomation and concatination**

to achieve the meaning full information we use the concatination

In [ ]:
student_name:str="laraib nawaz"
father_name:str="muhammad nawaz"
age:int=30



student_card:str="panaversity student card\nstudent_name"
print(student_card)

panaversity student card
student_name

In [ ]:
name:str="laraib nawaz"
father_name:str="muhammad nawaz"
age:int=30



student_card:str="panaversity student card\nstudent_name" + name + "\n father_name"
print(student_card)

panaversity student card
student_namelaraib nawaz
 father_name

when we want to add new line we use \n but it should be in the string formation ,without string it will give error ,and also when we want to concatinat any info we add that variables name without string"",and when we want to add the same name of variable that we use in the above info then we use the variables name with the string""sign

In [ ]:
name:str="laraib nawaz"
father_name:str="muhammad nawaz"
age:int=30



student_card:str="panaversity student card\nstudent_name" + name + "\n father_name"
print(student_card)

In [ ]:
name:str="laraib nawaz"
father_name:str="muhammad nawaz"
age:int=30



student_card:str="panaversity student card\nstudent_name" + name + "\n father_name"  + father_name
print(student_card)

whn we want to add age in the form of int it is not possible to add integer with the string ,for this purpose we have to use the type casting and we have to change the type of intereger like age and we wrote it like age:str=30 then it will not generate error in this

In [ ]:
name:str="laraib nawaz"
father_name:str="muhammad nawaz"
age:int=30



student_card:str="panaversity student card\nstudent_name" + name + "\n father_name"  + father_name +"\nage" + age
print(student_card)

TypeError: can only concatenate str (not "int") to str

**TYPE CASTING**

In [ ]:
name:str="laraib nawaz"
father_name:str="muhammad nawaz"
age:int=30



student_card:str="panaversity student card\nstudent_name" + name + "\n father_name"  + father_name +"\nage" + str(age)
print(student_card)

panaversity student card
student_namelaraib nawaz
 father_namemuhammad nawaz
age30

we can also use place holder to add the type of our interest and can concatenate the string with the int with the usage of place holder
to prevent from the explicity to convert these type we can also use dor format method and moslty we use the f string method that is most famous

**PLACE** **HOLDER**

In [ ]:
name :str="laraib"
father_name:str="m nawaz"
age:InterruptedError=24


student_card="""
panaversity student card
student name:%s
father name:%s
age:%d

"""%(student_name,father_name,age)
print(student_card)

In [ ]:
name :str =input("Enter your Name: ")
father_name:str="m nawaz"
age:int=24


student_card="""
panaversity student card
student name:%s
father name:%s
age:%d

"""%(name,father_name,age)
print(student_card)